{% extends 'base.html.twig' %}

{% block title %}Virtual Creation{% endblock %}

{% block body %}
  <link rel="stylesheet" href="{{ asset('assets/css/headers.css') }}">
  <script type="text/javascript" src="{{ asset('assets/js/creacionmaquinas.js') }}"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="bootstrap" viewBox="0 0 118 94">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"></path>
    </symbol>
    <symbol id="home" viewBox="0 0 16 16">
      <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
    </symbol>
    <symbol id="speedometer2" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
    </symbol>
    <symbol id="people-circle" viewBox="0 0 16 16">
      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
      <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
    </symbol>
    <symbol id="grid" viewBox="0 0 16 16">
      <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"/>
    </symbol>
    <symbol id="maquinasvirtuales" viewBox="0 0 16 16">
      <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
    </symbol>
  </svg>
  <main>
   <div class="b-example-divider"></div>
    <div class="px-3 py-2 border-bottom mb-3">
      <div class="container d-flex flex-wrap justify-content-center">
        <div class="col-4">
          <div class="row">
            <div class="col-1">
                <svg class=" text-warning text-decoration-none" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-headset" viewBox="0 0 16 16">
                  <path d="M8 1a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a6 6 0 1 1 12 0v6a2.5 2.5 0 0 1-2.5 2.5H9.366a1 1 0 0 1-.866.5h-1a1 1 0 1 1 0-2h1a1 1 0 0 1 .866.5H11.5A1.5 1.5 0 0 0 13 12h-1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h1V6a5 5 0 0 0-5-5z"/>
                </svg>
            </div>
            <div class="col-6">
              <p>Soporte (34) 678 56 4509</p>
            </div>
          </div>
        </div>
        <form method="post" class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto">
          <span class="form-control"  name="buscar" style="width : 450px" disabled>{{ "Has iniciado como " ~ app.user.userIdentifier}}</span>
        </form>
        <div class="text-end">
          {% if error is defined %}
            {% if error %}
              <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
          {% endif %}
          {% if app.user %}
            <div class="d-flex flex-row">
              {% for rol in app.user.Roles %}
                {% if rol  == "ROLE_ADMIN"%}
                  <div class="dropdown p-2">
                    <button class="btn btn-light text-dark me-2 border border-dark" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      Admin
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="{{ path('app_user_index') }}">Usuarios</a></li>
                      <li><a class="dropdown-item" href="{{ path('app_parametros_index') }}">Maquinas Virtuales</a></li>
                      <li><a class="dropdown-item" href="{{ path('app_log_index') }}">Registro Log</a></li>
                      <li><a class="dropdown-item" href="http://grafana:3000/">Grafana</a></li>
                      <li><a class="dropdown-item" href="https://exsi.mrpro.com/">EXSI</a></li>
                      <li><a class="dropdown-item" href="https://correo.mrpro.com/">Correo</a></li>
                      <li><a class="dropdown-item" href="http://grafana:9090/targets/">Prometheus</a></li>
                    </ul>
                  </div>
                {% endif %}
              {% endfor %}
               <div class="mb-3 p-2">
                <a class="btn btn-warning" href="{{ path('app_logout') }}" role="button">Cerrar sesión</a>
              </div>
            </div>
          {% else %}
              <a class="btn btn-light text-dark me-2 border border-dark" href="{{ path('app_login') }}" role="button">Iniciar Sesión</a>
              <a class="btn btn-warning" href="{{ path('app_register') }}" role="button">Regístrate</a>
          {% endif %}
        </div>
        </div>
    </div>
    <header>
      <div class="px-3 py-2 bg-dark text-white">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
              <svg aria-label="Bootstrap" xmlns="http://www.w3.org/2000/svg" width="40" height="32" fill="currentColor" class="bi me-2" viewBox="0 0 16 16"  role="img">
                <path d="M0 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v2h2a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-2H2a2 2 0 0 1-2-2V2zm5 10v2a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1h-2v5a2 2 0 0 1-2 2H5z"/>
              </svg>
              <p>VIRTUAL CREATION </p>
            </a>
            <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
              <li>
                <a href="{{ path('app_inicio') }}" class="nav-link text-white">
                  <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#home"/></svg>
                  Inicio
                </a>
              </li>
              <li>
                <a href="{{ path('app_creacionmaquina') }}" class="nav-link text-secondary">
                  <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#speedometer2"/></svg>
                  Crear un Recursos
                </a>
              </li>
              <li>
                <a href="{{ path('app_view_machine') }}" class="nav-link text-white">
                  <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#maquinasvirtuales"/></svg>
                  Máquinas Virtuales
                </a>
              </li>
              <li>
                <a href="{{ path('app_contacto') }}" class="nav-link text-white">
                  <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#grid"/></svg>
                  Contáctanos
                </a>
              </li>
              <li>
                <a href="{{ path('app_perfil') }}" class="nav-link text-white">
                  <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#people-circle"/></svg>
                 Perfil
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <div class="b-example-divider"></div>
    <form  class="row g-3 needs-validation" method="post" novalidate id="contenedor">
      <div class="mb-3">
        <label for="validationCustom04" class="form-label">Datastore</label>
        <select class="form-select" id="validationCustom04" name="datastore" required>
          <option selected disabled value="">Selecciona un Datastore</option>
          <option value="Datastore1">Datastore1</option>
        </select>
        <div class="invalid-feedback">
          Por favor, seleccione un Datastore.
        </div>
      </div>
      <div class="mb-3">
        <label for="validationCustom01" class="form-label" name="CPU">CPU (maximo 2)</label>
        <input type="number" class="form-control" id="validationCustom01" name="CPU" max="2" required>
        <div class="invalid-feedback">
         Por favor, introduce un número de CPU (maximo 2).
        </div>
      </div>
      <div class="mb-3">
        <label for="validationCustom02" class="form-label" name="Memoria">Memoria</label>
        <select class="form-select" name="memoria" id="validationCustom02" required>
          <option selected disabled value="">Selecciona cuanto quiere de memoria</option>
          <option value="1024">1GB</option>
          <option value="2048">2GB</option>
          <option value="3072">3GB</option>
          <option value="4096">4GB</option>
          <option value="5120">5GB</option>
          <option value="6144">6GB</option>
          <option value="7168">7GB</option>
          <option value="8192">8GB</option>
         
        </select>
        <div class="invalid-feedback">
          Por favor, introduce un número de Memoria.
        </div>
      </div>
      <div class="mb-3">
        <label for="validationCustom03" class="form-label">Sistema Operativo</label>
        <select class="form-select" name="sistemaOperativo" id="operatingsystem" onchange="addselect()" required>
          <option selected disabled value="">Selecciona un Sistema Operativo</option>
          <option value="Windows">Windows</option>
          <option value="Debian">Debian</option>
          <option value="Ubuntu">Ubuntu</option>
        </select>
        <div class="invalid-feedback">
          Por favor, seleccione un Sistema Operativo.
        </div>
      </div>
      <div class="mb-3" id="tipo"></div>
      <div class="mb-3">
        <label for="validationCustom05" class="form-label" name="Nombre">Nombre</label>
        <input type="text" class="form-control" id="validationCustom05"  name="nombremaquina" required>
        <div class="invalid-feedback">
          Por favor, introduce un nombre.
        </div>
      </div>
      <div class="mb-3">
        <label for="validationCustom06" class="form-label" name="AdaptadorRed">Tamaño Disco</label>
        <input type="number"  class="form-control" id="validationCustom05" aria-describedby="emailHelp" name="adaptadorred" max="200" required>
        <div class="invalid-feedback">
          Por favor, introduce un tamaño de disco.
        </div>
      </div>
      <button type="submit" class="btn btn-primary" name="crear" id="crear">Crear</button>
    </form>
    <div class="my-5" id="piedepagina">
      <footer class="text-center text-lg-start text-dark" style="background-color: #ECEFF1">
        <section class="d-flex justify-content-between p-4 text-white" style="background-color: #FFC107">
          <div class="me-5">
            <span>Conéctate con nosotros en las redes sociales:</span>
          </div>
          <div>
            <a href="" class="text-white me-4" style="text-decoration: none;">
              <i class="bi bi-facebook"></i>
            </a>
            <a href="" class="text-white me-4" style="text-decoration: none;">
              <i class="bi bi-twitter"></i>
            </a>
            <a href="" class="text-white me-4" style="text-decoration: none;">
              <i class="bi bi-google"></i>
            </a>
            <a href="" class="text-white me-4" style="text-decoration: none;">
              <i class="bi bi-instagram"></i>
            </a>
            <a href="" class="text-white me-4" style="text-decoration: none;">
              <i class="bi bi-linkedin"></i>
            </a>
            <a href="" class="text-white me-4" style="text-decoration: none;">
              <i class="bi bi-github"></i>
            </a>
          </div>
        </section>
        <section class="" id="pie">
          <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold">Virtual Creation</h6>
                <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/>
                <p>
                  ¿Tienes la necesidad de tener más equipos en tu organización? 
                  Nosotros te afrecemos esa posibilidad de
                  de la manera mas económica y rápida posible
                </p>
              </div>
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold">Recursos para VC</h6>
                <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
                <p>
                  <a href="#!" class="text-dark">Introducción</a>
                </p>
                <p>
                  <a href="#!" class="text-dark">Formación</a>
                </p>
                <p>
                  <a href="#!" class="text-dark">Preguntas Frecuentes</a>
                </p>
                <p>
                  <a href="#!" class="text-dark">Informes de analistas</a>
                </p>
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold">Ayuda</h6>
                <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/>
                <p>
                  <a href="#!" class="text-dark">Contáctenos</a>
                </p>
                <p>
                  <a href="#!" class="text-dark">Centro de Conocimineto</a>
                </p>
                <p>
                  <a href="#!" class="text-dark">Información General</a>
                </p>
                <p>
                  <a href="#!" class="text-dark">Legal</a>
                </p>
              </div>
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <h6 class="text-uppercase fw-bold">Contacto</h6>
                <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/>
                <p><i class="fas fa-home mr-3"></i> Granada, Granada 10012, España</p>
                <p><i class="fas fa-envelope mr-3"></i> adminvc@correo.mrpro.com</p>
                <p><i class="fas fa-phone mr-3"></i> + 34 678 564 509</p>
                <p><i class="fas fa-print mr-3"></i> + 34 601 124 531</p>
              </div>
            </div>
          </div>
        </section>
        <div class="text-center p-3" >
          © 2020 Copyright: Virtual Creation
        </div>
      </footer>
    </div>
  </main>
  <script type="text/javascript" src="{{ asset('assets/js/validacion.js') }}"></script>
{% endblock %}
